.sort-bar{

    display: flex;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding:px2rem(5) px2rem(5);
    margin-top:px2rem(10);
    justify-content: center;
    align-items: center;
    .item{
        flex: 1;
        font-size:px2rem(14);;
        color:#838383;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        &.multiple:after{
            content: '';
            width:px2rem(6);
            height:px2rem(6);
            display: inline-block;
            border-left:1px solid #838383;
            border-top:1px solid #838383;
            transform: rotate(225deg);
            margin-left:px2rem(5);
            flex-shrink: 0;
        }
        &.filter:before{
            content: '';
            width:1px;
            height:px2rem(14);;
            background-color: #e4e4e4;
            margin-right: px2rem(25);;
        }
        &.filter:after{
            content: '';
            width:px2rem(16);
            height:px2rem(16);
            background: url("./image/filter.png") no-repeat;
            background-size: contain;

        }
    }
}